<div class="container">
  <div>
    <h2>Shopping List</h2>
  </div>
  <table class="table">
    <tr>
      <th>商品</th>
      <th>項名</th>
      <th>價錢</th>
      <th>數量</th>
      <th>小計</th>
    </tr>
    <% @items.each do |item| %>
      <tr class="product-<%= item.product.id %>">
        <td><%= image_tag item.product.image.url, class: "img-thumbnail" %></td>
        <td><%= item.product.title %></td>
        <td><%= print_price item.product.price %></td>
        <td><%= item.quantity %></td>
        <td><%= print_price item.subtotal %></td>
      </tr>
    <% end %>
    <tr></tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>總計: <%= print_price current_cart.total %></td>
    </tr>
  </table>
</div>