<!DOCTYPE html>
<html>
  <head>
    <title>Fh</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
    /* Stackoverflow preview fix, please ignore */
    .navbar-nav {
      flex-direction: row;
    }
    
    .nav-link {
      padding-right: .5rem !important;
      padding-left: .5rem !important;
    }
    
    /* Fixes dropdown menus placed on the right side */
    .ml-auto .dropdown-menu {
      left: auto !important;
      right: 0px;
    }
  </style>
  </head>

  <body>
  
  <% if controller_name != "pages" and action_name != "index" %>
  <% else %>
  <% end %>
  
   
    <p>
      <%= notice %>
    </p>
    <p>
      <%= alert %>
    </p>
    <%= yield %>
  </body>
</html>
