<!DOCTYPE html>
<html>
  <head>
    <title>Fh</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
    /* Stackoverflow preview fix, please ignore */
    .navbar-nav {
      flex-direction: row;
    }
    
    .nav-link {
      padding-right: .5rem !important;
      padding-left: .5rem !important;
    }
    
    /* Fixes dropdown menus placed on the right side */
    .ml-auto .dropdown-menu {
      left: auto !important;
      right: 0px;
    }
  </style>
  </head>

  <body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!--<a class="navbar-brand" href="#">fh</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <%= link_to root_path, class: "nav-link" do %>
      Shop
      <% end %>
    </li>
    <li class="nav-item">
      <a class="nav-link">Contact us</a>
    </li>
  </ul>-->
  <ul class="">
    <li class="">
      <%= link_to cart_path, class: "data-before-text" do  %>
        購物車 <i class="fa fa-shopping-cart"> </i> (<%= render_cart_items_count(current_cart) %>)
      <% end %>
    </li>
<!--
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown on Right</a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action with a lot of text inside of an item</a>
      </div>
    </li>
-->
  </ul>
</nav>
  
    <br>
    <p>
      <%= notice %>
    </p>
    <p>
      <%= alert %>
    </p>
    <%= yield %>
  </body>
</html>
